* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15vh;
    background-color: black;
    border: 1px solid lime;
}
.play_bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.play_bar_item{
    flex: 1;
    height: 100%;
    border: 2px solid red;
}
.play_bar_item:nth-last-child(2){
    flex: 2;
}

header{
    background-color:#080b12 ;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 5vh;

}
main{
    background-color: #141922;
    height:100vh
}