@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "Roboto";
}
#small_logo{
    display: none;
}
#upgrade{
    background-color: #080b12;
    width: 100%;
    position: fixed;
    right: 0;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
}
#upgrade button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.sidebar{
    color: grey;
    width: 12vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: calc(100vh - 100px);
    background-color: black;
    padding: 1.3em;
    font-weight: bold;
    overflow: auto;
    z-index: 3;
}


.sidebar>figure img{
    width: 100%;
    height: 100%;
    display: block;
}

.upper_sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upper_sidebar_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.upper_sidebar_item figure{
    width: 30px;
    height: 30px;
}

.create_playlist{
    margin-top: .5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create_playlist li:first-child{
    display: flex;
    align-items: center;
}

.create_playlist li:first-child .fa-square-plus{
    font-size: 2.5rem;
    margin-right: 5px;
}
.bottom_sidebar{
    margin-top: 5em;
}
.profile{
    border-top:1px solid grey ;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
}
.profile img{
    background-color: grey;
    border-radius: 50%;
    height: 25px;
}

.play_bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.play_bar_item{
    flex: 1;
    height: 100%;
    border: 2px solid red;
}
.play_bar_item:nth-last-child(2){
    flex: 2;
}

body{
   background-color: #141922;
}

main{
    display: flex;
}

.container{
    padding-top: 8em;
    padding-left: 2em;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    color: white;
}

.album{
    width: 200px;
    height: 200px;
}

.albums{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.album_cover img{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.album_cover.artista img{
    border-radius: 50%;
}
.album_card{
    flex-basis: calc(100% / 6 - 30px);
    text-align: center;
    color: white;
    font-weight: bold;
}
.album_card span{
    color: grey;
}

@media  screen and (min-width:768px) and (max-width: 991px) {
    .album_card{
        flex-basis: calc(100% / 4 - 30px);
    }
    .sidebar{
        gap: 10px;
        justify-content: space-evenly;
    }
}
@media  screen and (min-width: 576px) and (max-width: 767px){
    main{
        font-size: .9rem;
    }
    .album_card{
        flex-basis: calc(100% / 2 - 30px);
    }
    .sidebar{
        min-width: 160px;
        gap: 15px;
    }
    
}
@media  screen and (max-width: 575px) {
    #small_logo{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .album_card{
        flex-basis: calc(100% / 2 - 30px);
    }
    .sidebar{
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 20vw;
        min-width: 20px;
    }

    .sidebar span{
        display: none;
    }
    nav h3,
    .create_playlist{
        display: none;
    }
    .profile{
        border-top: 0
    }
    .fa-circle-down{
        margin-left: 3px;
    }
    #biglogo{
        display: none;
    }
    #upgrade{
        padding: 1em;
    }
    #upgrade button{
        font-size: .6rem;
        padding: 10px 15px;
    }
}