@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "Roboto";
}
#small_logo{
    display: none;
}
#upgrade{
    background-color: #080b12;
    width: 100%;
    position: fixed;
    right: 0;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}
#upgrade button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s;
}
#upgrade button:hover{
    transform: scale(1.2);
}

#playlist{
    color: white;
}

.sidebar{
    color: grey;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: black;
    padding-top: 1em;
    padding-inline: 1em;
    font-weight: bold;
    z-index: 3;
}
.sidebar span:hover,
.sidebar img:hover,
.create_playlist li:hover,
.app_download .fa-circle-down:hover,
.profile span:hover{
    color: white;
    cursor: pointer;
}

.upper_sidebar_item:active img{
    border-left: 3px solid #1ed760;
}

.sidebar>figure img{
    width: 100%;
    height: 100%;
    display: block;
}

.upper_sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upper_sidebar_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.upper_sidebar_item figure{
    width: 30px;
    height: 30px;
}

#play_nav{
    overflow: auto;
}

.create_playlist{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}

.create_playlist li:first-child{
    display: flex;
    align-items: center;
}

.create_playlist li:first-child .fa-square-plus{
    font-size: 2.5rem;
    margin-right: 5px;
}
.bottom_sidebar{
    height: 80px;
    overflow: hidden;
}
.profile{
    border-top:1px solid grey ;
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.profile img{
    background-color: grey;
    border-radius: 50%;
    height: 25px;
}

.play_bar{
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.play_bar_item{
    color: white;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
}
.play_bar_item span{
    color: grey;
}
.play_bar_item figure{
    height: 70px;
    width: 70px;
}
.play_bar_item figure img{
    width: 100%;
}
.play_bar_item .fa-regular,
.play_bar_item .fa-solid{
    color: grey;
}
.play_bar_item .fa-regular:hover,
.play_bar_item .fa-solid:hover{
    color: white;
}
.play_bar_item:nth-last-child(2){
    flex:2;
    display: flex;
    flex-direction: column;
   
}
.upper_cta{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
.bottom_cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.bottom_cta .barra{
    width: 50%;
}
.upper_cta .fa-regular{
    font-size: 2.5rem;
}

.barra{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 10px;
    background-color: rgb(177, 174, 174);
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.barra::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: -205px 0 0 200px rgb(255, 255, 255);
 
}
.barra:hover::-webkit-slider-thumb{
    box-shadow: -205px 0 0 200px #1ed760
}


body{
   background-color: #141922;
   height: 100vh;
}

main{
    display: flex;
    height: calc(100% - 100px);
}

.container{
    padding-top: 8em;
    padding-left: 2em;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow: auto;
    color: white;
}

.container_nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    justify-content: center;
    text-transform: uppercase;
    color: grey;
}
.container_nav ul li:hover{
    color: white;
    cursor: pointer;
}
.container_nav ul li{
    position: relative;
}

.container_nav ul li:after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #1ed760;
    position: absolute;
    bottom: -1px;
    left: 25%;
}
.container_nav ul li:hover:after{
    width: 50%;
}


.album{
    width: 200px;
    height: 200px;
}

.albums{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}
.album_cover{
    position: relative;
}

.album_cover img{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.album_cover.artista img{
    border-radius: 50%;
}
.album_card{
    flex-basis: calc(100% / 6 - 30px);
    text-align: center;
    color: white;
    font-weight: bold;
}
.album_card span{
    color: grey;
}

.album_card:hover img{
    filter: brightness(50%);
}
.hover_play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    opacity: 0;
}
.album_cover:hover .hover_play{
    opacity: 1;
}

@media  screen and (min-width:768px) and (max-width: 991px) {
    .album_card{
        flex-basis: calc(100% / 4 - 30px);
    }
    .sidebar{
        gap: 10px;
        justify-content: space-evenly;
    }
}
@media  screen and (min-width: 576px) and (max-width: 767px){
    main{
        font-size: .9rem;
    }
    .album_card{
        flex-basis: calc(100% / 2 - 30px);
    }
    .sidebar{
        gap: 15px;
    }
    .play_bar_item:nth-child(1){
        gap: 10px;
    }
    .play_bar_item:nth-child(2){
        width: 50%;
    }
    
}
@media  screen and (max-width: 575px) {
    #big_logo{
        display: none;
    }
    #small_logo{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .album_card{
        flex-basis: calc(100% / 2 - 30px);
    }
    .sidebar{
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }

    .sidebar span{
        display: none;
    }
    nav h3,
    .create_playlist{
        display: none;
    }
    .profile{
        border-top: 0
    }
    .fa-circle-down{
        margin-left: 3px;
    }
    #biglogo{
        display: none;
    }
    #upgrade{
        padding: 1em;
    }
    #upgrade button{
        font-size: .6rem;
        padding: 10px 15px;
    }
    .play_bar_item:nth-child(1) .song_text{
        margin-left: 10px;
    }
    .play_bar_item:nth-child(1) div .fa-regular{
        margin-left: 10px;
    }
    .play_bar_item:nth-child(2) .upper_cta,
    .play_bar_item:nth-child(2) .bottom_cta{
        width: 100%;
    }
    .play_bar_item:nth-child(2) .upper_cta .fa-solid:first-of-type,
    .play_bar_item:nth-child(2) .upper_cta .fa-solid:last-of-type,
    .play_bar_item:nth-child(2) .bottom_cta span,
    .play_bar_item:nth-child(3) input{
        display: none;
    }
    .play_bar_item:nth-child(3){
        gap: 10px;
    }
    .bottom_sidebar{
        padding-bottom: 2em;
    }
}